<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Project Rock Paper Scissors Recognitions</title>
    <link rel="stylesheet" type="" href="static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>🔮 Rock Paper Scissors Image Recognition: A Project-Based Learning Approach🔮</h1>
        <p>This portfolio shows how I used a pre-trained model and a custom dataset to classify rock paper scissors handgesture images with transfer learning</p>
    </div> 
    <div class="box">
        <form id="imageForm" action="/predict" method="post" enctype="multipart/form-data">
            <h3>Predict</h3>
            <input type="file" id="imageInput" name="predictFile" value="predictFile" accept="image/*">
            <img id="imagePreview" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTBCISkCCWmP77oaAqn4Pcy4IWrKizgs9RYMZuU7OMC5Khn3w0P" alt="Selected Image">
            <br>
            <button type="button" id="selectImageButton">Select Image</button>
            <input type="submit" value="Submit">
        </form>
    </div>
    
    <script src="static/js/script.js"></script>
</body>
</html>