<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Prediction Result</title>
    <link rel="stylesheet" type="" href="static/css/style.css">
</head>
<body>
    <div class="container">
    <h1>Prediction Result</h1>
    </div>
    <div class="box">
    {% if prediction %}
    <img id="imagePreview" src="data:image/jpeg;base64,{{ img_path }}" alt="Selected Image">
    <br />
    <h2>Result: {{prediction}}</h2>
    <form class="submit" action="/" method="get">
        <input type="submit" value="Re-Predict">
    </form>
    {% endif %}
    </div>
</body>
</html>